In [2]:
import os
import zipfile
import pandas as pd

pd.set_option('display.float_format', '{:.10f}'.format)

Script for pulling hourly/daily/yearly data from zipped files

In [71]:
# Edit folder path to corresponding time grain
main_folder_path = r"C:\Users\dane.rini\Global Infrastructure\SSC 24-01-0670 NYC DOT ESA 21 TPM Project Metrics and Analysis Tool Development - 24-01-0670\02 - Analysis\Task 2\Strava\Volumes\Hourly\2019"

In [72]:
# Initialize an empty DataFrame to hold combined data
combined_data = pd.DataFrame()

# Loop through all files in the main directory
for root, _, files in os.walk(main_folder_path):
    for file in files:
        if file.endswith(".zip"):
            zip_file_path = os.path.join(root, file)
            
            # Open the zip file
            with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
                # Find the CSV file inside the zip file that is only in the second layer (auxiliary folder)
                for file_name in zip_ref.namelist():
                    print(file_name)
                    # Ensure it's in the second layer, i.e., one folder deep (auxiliary folder/file.csv)
                    if file_name.endswith('.csv'):
                        # Read the CSV file into a DataFrame
                        print(file_name)
                        print(f"Extracting: {file_name}")
                        with zip_ref.open(file_name) as csv_file:
                            df = pd.read_csv(csv_file)
                            # Append the data to the combined DataFrame
                            combined_data = pd.concat([combined_data, df], ignore_index=True)

# Export the combined data to a new CSV file
combined_csv_path = os.path.join(main_folder_path, "strava_hourly.csv")
combined_data.to_csv(combined_csv_path, index=False)

print(f"Combined CSV file created at: {combined_csv_path}")

36a4168a853192659eb15f7e3e89dd4f12a387edde61e02f3d3f57bc509bbfb0-1734455348051.shp
36a4168a853192659eb15f7e3e89dd4f12a387edde61e02f3d3f57bc509bbfb0-1734455348051.shx
36a4168a853192659eb15f7e3e89dd4f12a387edde61e02f3d3f57bc509bbfb0-1734455348051.dbf
36a4168a853192659eb15f7e3e89dd4f12a387edde61e02f3d3f57bc509bbfb0-1734455348051.prj
36a4168a853192659eb15f7e3e89dd4f12a387edde61e02f3d3f57bc509bbfb0-1734455348051.csv
36a4168a853192659eb15f7e3e89dd4f12a387edde61e02f3d3f57bc509bbfb0-1734455348051.csv
Extracting: 36a4168a853192659eb15f7e3e89dd4f12a387edde61e02f3d3f57bc509bbfb0-1734455348051.csv
36a4168a853192659eb15f7e3e89dd4f12a387edde61e02f3d3f57bc509bbfb0-1734455348051.txt
1639e54f9d4cc1fb20393cc54636837389771fe18b695997926e225dc59faf7f-1734455676937.shp
1639e54f9d4cc1fb20393cc54636837389771fe18b695997926e225dc59faf7f-1734455676937.shx
1639e54f9d4cc1fb20393cc54636837389771fe18b695997926e225dc59faf7f-1734455676937.dbf
1639e54f9d4cc1fb20393cc54636837389771fe18b695997926e225dc59faf7f-1734455676937.prj
1639e54f9d4cc1fb20393cc54636837389771fe18b695997926e225dc59faf7f-1734455676937.csv
1639e54f9d4cc1fb20393cc54636837389771fe18b695997926e225dc59faf7f-1734455676937.csv
Extracting: 1639e54f9d4cc1fb20393cc54636837389771fe18b695997926e225dc59faf7f-1734455676937.csv
1639e54f9d4cc1fb20393cc54636837389771fe18b695997926e225dc59faf7f-1734455676937.txt
9d947ad93488cf3e48657650070763e0b7a830e0ee0736887a13d20cc52d1537-1735058441223.shp
9d947ad93488cf3e48657650070763e0b7a830e0ee0736887a13d20cc52d1537-1735058441223.shx
9d947ad93488cf3e48657650070763e0b7a830e0ee0736887a13d20cc52d1537-1735058441223.dbf
9d947ad93488cf3e48657650070763e0b7a830e0ee0736887a13d20cc52d1537-1735058441223.prj
9d947ad93488cf3e48657650070763e0b7a830e0ee0736887a13d20cc52d1537-1735058441223.csv
9d947ad93488cf3e48657650070763e0b7a830e0ee0736887a13d20cc52d1537-1735058441223.csv
Extracting: 9d947ad93488cf3e48657650070763e0b7a830e0ee0736887a13d20cc52d1537-1735058441223.csv
9d947ad93488cf3e48657650070763e0b7a830e0ee0736887a13d20cc52d1537-1735058441223.txt
98d6f41833535942161c22fcd626a7293cc92ae548a8cffa115fd8f0f26707ae-1734456109900.shp
98d6f41833535942161c22fcd626a7293cc92ae548a8cffa115fd8f0f26707ae-1734456109900.shx
98d6f41833535942161c22fcd626a7293cc92ae548a8cffa115fd8f0f26707ae-1734456109900.dbf
98d6f41833535942161c22fcd626a7293cc92ae548a8cffa115fd8f0f26707ae-1734456109900.prj
98d6f41833535942161c22fcd626a7293cc92ae548a8cffa115fd8f0f26707ae-1734456109900.csv
98d6f41833535942161c22fcd626a7293cc92ae548a8cffa115fd8f0f26707ae-1734456109900.csv
Extracting: 98d6f41833535942161c22fcd626a7293cc92ae548a8cffa115fd8f0f26707ae-1734456109900.csv
98d6f41833535942161c22fcd626a7293cc92ae548a8cffa115fd8f0f26707ae-1734456109900.txt
39d9a155685b7326b94865a2d1aeb0f167d91f65b3b5455f40b8de616154262f-1734713728450.shp
39d9a155685b7326b94865a2d1aeb0f167d91f65b3b5455f40b8de616154262f-1734713728450.shx
39d9a155685b7326b94865a2d1aeb0f167d91f65b3b5455f40b8de616154262f-1734713728450.dbf
39d9a155685b7326b94865a2d1aeb0f167d91f65b3b5455f40b8de616154262f-1734713728450.prj
39d9a155685b7326b94865a2d1aeb0f167d91f65b3b5455f40b8de616154262f-1734713728450.csv
39d9a155685b7326b94865a2d1aeb0f167d91f65b3b5455f40b8de616154262f-1734713728450.csv
Extracting: 39d9a155685b7326b94865a2d1aeb0f167d91f65b3b5455f40b8de616154262f-1734713728450.csv
39d9a155685b7326b94865a2d1aeb0f167d91f65b3b5455f40b8de616154262f-1734713728450.txt
c23822831df46176cdab39ff635416bceb6ec0a66d6f503e6218826ec238bbfb-1734713743475.shp
c23822831df46176cdab39ff635416bceb6ec0a66d6f503e6218826ec238bbfb-1734713743475.shx
c23822831df46176cdab39ff635416bceb6ec0a66d6f503e6218826ec238bbfb-1734713743475.dbf
c23822831df46176cdab39ff635416bceb6ec0a66d6f503e6218826ec238bbfb-1734713743475.prj
c23822831df46176cdab39ff635416bceb6ec0a66d6f503e6218826ec238bbfb-1734713743475.csv
c23822831df46176cdab39ff635416bceb6ec0a66d6f503e6218826ec238bbfb-1734713743475.csv
Extracting: c23822831df46176cdab39ff635416bceb6ec0a66d6f503e6218826ec238bbfb-1734713743475.csv
c23822831df46176cdab39ff635416bceb6ec0a66d6f503e6218826ec238bbfb-1734713743475.txt
2161e40e0d0758fcf9aaa19a7a5543b51554f3e84e864ec772c2d6b3c9e8952f-1732307257481.shp
2161e40e0d0758fcf9aaa19a7a5543b51554f3e84e864ec772c2d6b3c9e8952f-1732307257481.shx
2161e40e0d0758fcf9aaa19a7a5543b51554f3e84e864ec772c2d6b3c9e8952f-1732307257481.dbf
2161e40e0d0758fcf9aaa19a7a5543b51554f3e84e864ec772c2d6b3c9e8952f-1732307257481.prj
2161e40e0d0758fcf9aaa19a7a5543b51554f3e84e864ec772c2d6b3c9e8952f-1732307257481.csv
2161e40e0d0758fcf9aaa19a7a5543b51554f3e84e864ec772c2d6b3c9e8952f-1732307257481.csv
Extracting: 2161e40e0d0758fcf9aaa19a7a5543b51554f3e84e864ec772c2d6b3c9e8952f-1732307257481.csv
2161e40e0d0758fcf9aaa19a7a5543b51554f3e84e864ec772c2d6b3c9e8952f-1732307257481.txt
7e5a7d261ce2aa4dd6f2b64940f2e42d2cfa14f1f1e070a73c40d4240a1c6915-1732307301244.shp
7e5a7d261ce2aa4dd6f2b64940f2e42d2cfa14f1f1e070a73c40d4240a1c6915-1732307301244.shx
7e5a7d261ce2aa4dd6f2b64940f2e42d2cfa14f1f1e070a73c40d4240a1c6915-1732307301244.dbf
7e5a7d261ce2aa4dd6f2b64940f2e42d2cfa14f1f1e070a73c40d4240a1c6915-1732307301244.prj
7e5a7d261ce2aa4dd6f2b64940f2e42d2cfa14f1f1e070a73c40d4240a1c6915-1732307301244.csv
7e5a7d261ce2aa4dd6f2b64940f2e42d2cfa14f1f1e070a73c40d4240a1c6915-1732307301244.csv
Extracting: 7e5a7d261ce2aa4dd6f2b64940f2e42d2cfa14f1f1e070a73c40d4240a1c6915-1732307301244.csv
7e5a7d261ce2aa4dd6f2b64940f2e42d2cfa14f1f1e070a73c40d4240a1c6915-1732307301244.txt
4000c696b3a88e193cd2dce0986610f62ba35f97c64ed8d1249c92b6e6da4166-1732307313667.shp
4000c696b3a88e193cd2dce0986610f62ba35f97c64ed8d1249c92b6e6da4166-1732307313667.shx
4000c696b3a88e193cd2dce0986610f62ba35f97c64ed8d1249c92b6e6da4166-1732307313667.dbf
4000c696b3a88e193cd2dce0986610f62ba35f97c64ed8d1249c92b6e6da4166-1732307313667.prj
4000c696b3a88e193cd2dce0986610f62ba35f97c64ed8d1249c92b6e6da4166-1732307313667.csv
4000c696b3a88e193cd2dce0986610f62ba35f97c64ed8d1249c92b6e6da4166-1732307313667.csv
Extracting: 4000c696b3a88e193cd2dce0986610f62ba35f97c64ed8d1249c92b6e6da4166-1732307313667.csv
4000c696b3a88e193cd2dce0986610f62ba35f97c64ed8d1249c92b6e6da4166-1732307313667.txt
25376b7e01f83b407ab458769cff1f34ffea5760258d3f8f15557c98a74fa30f-1734713818112.shp
25376b7e01f83b407ab458769cff1f34ffea5760258d3f8f15557c98a74fa30f-1734713818112.shx
25376b7e01f83b407ab458769cff1f34ffea5760258d3f8f15557c98a74fa30f-1734713818112.dbf
25376b7e01f83b407ab458769cff1f34ffea5760258d3f8f15557c98a74fa30f-1734713818112.prj
25376b7e01f83b407ab458769cff1f34ffea5760258d3f8f15557c98a74fa30f-1734713818112.csv
25376b7e01f83b407ab458769cff1f34ffea5760258d3f8f15557c98a74fa30f-1734713818112.csv
Extracting: 25376b7e01f83b407ab458769cff1f34ffea5760258d3f8f15557c98a74fa30f-1734713818112.csv
25376b7e01f83b407ab458769cff1f34ffea5760258d3f8f15557c98a74fa30f-1734713818112.txt
d2f207ea4db1ce6f323cf0857c5a6e86e4cae796171a5821b7b7bd4ac49a77fb-1734713831290.shp
d2f207ea4db1ce6f323cf0857c5a6e86e4cae796171a5821b7b7bd4ac49a77fb-1734713831290.shx
d2f207ea4db1ce6f323cf0857c5a6e86e4cae796171a5821b7b7bd4ac49a77fb-1734713831290.dbf
d2f207ea4db1ce6f323cf0857c5a6e86e4cae796171a5821b7b7bd4ac49a77fb-1734713831290.prj
d2f207ea4db1ce6f323cf0857c5a6e86e4cae796171a5821b7b7bd4ac49a77fb-1734713831290.csv
d2f207ea4db1ce6f323cf0857c5a6e86e4cae796171a5821b7b7bd4ac49a77fb-1734713831290.csv
Extracting: d2f207ea4db1ce6f323cf0857c5a6e86e4cae796171a5821b7b7bd4ac49a77fb-1734713831290.csv
d2f207ea4db1ce6f323cf0857c5a6e86e4cae796171a5821b7b7bd4ac49a77fb-1734713831290.txt
2b455b9cb85792a3e151b729e1986f5c2496abe22b2a17e3159d1c804ed40fd7-1734713839830.shp
2b455b9cb85792a3e151b729e1986f5c2496abe22b2a17e3159d1c804ed40fd7-1734713839830.shx
2b455b9cb85792a3e151b729e1986f5c2496abe22b2a17e3159d1c804ed40fd7-1734713839830.dbf
2b455b9cb85792a3e151b729e1986f5c2496abe22b2a17e3159d1c804ed40fd7-1734713839830.prj
2b455b9cb85792a3e151b729e1986f5c2496abe22b2a17e3159d1c804ed40fd7-1734713839830.csv
2b455b9cb85792a3e151b729e1986f5c2496abe22b2a17e3159d1c804ed40fd7-1734713839830.csv
Extracting: 2b455b9cb85792a3e151b729e1986f5c2496abe22b2a17e3159d1c804ed40fd7-1734713839830.csv
2b455b9cb85792a3e151b729e1986f5c2496abe22b2a17e3159d1c804ed40fd7-1734713839830.txt
Combined CSV file created at: C:\Users\dane.rini\Global Infrastructure\SSC 24-01-0670 NYC DOT ESA 21 TPM Project Metrics and Analysis Tool Development - 24-01-0670\02 - Analysis\Task 2\Strava\Volumes\Hourly\2019\strava_hourly.csv

Alread pulled data and exported to csv so I am skipping the above step and just pulling from the csv

In [13]:
strava_daily = pd.read_csv(r'C:\Users\dane.rini\Global Infrastructure\SSC 24-01-0670 NYC DOT ESA 21 TPM Project Metrics and Analysis Tool Development - 24-01-0670\02 - Analysis\Task 2\Strava\Volumes\Daily\strava_daily.csv')

print(strava_daily.columns)

Index(['edge_uid', 'activity_type', 'date', 'total_trip_count',
       'forward_trip_count', 'reverse_trip_count', 'forward_people_count',
       'reverse_people_count', 'forward_commute_trip_count',
       'reverse_commute_trip_count', 'forward_leisure_trip_count',
       'reverse_leisure_trip_count', 'forward_morning_trip_count',
       'reverse_morning_trip_count', 'forward_midday_trip_count',
       'reverse_midday_trip_count', 'forward_evening_trip_count',
       'reverse_evening_trip_count', 'forward_overnight_trip_count',
       'reverse_overnight_trip_count', 'forward_male_people_count',
       'reverse_male_people_count', 'forward_female_people_count',
       'reverse_female_people_count', 'forward_unspecified_people_count',
       'reverse_unspecified_people_count', 'forward_18_34_people_count',
       'reverse_18_34_people_count', 'forward_35_54_people_count',
       'reverse_35_54_people_count', 'forward_55_64_people_count',
       'reverse_55_64_people_count', 'forward_65_plus_people_count',
       'reverse_65_plus_people_count',
       'forward_average_speed_meters_per_second',
       'reverse_average_speed_meters_per_second', 'osm_reference_id',
       'ride_count', 'ebike_ride_count'],
      dtype='object')

In [14]:
strava_daily['date'] = pd.to_datetime(strava_daily['date'])

In [15]:
strava_daily['month'] = strava_daily['date'].dt.month

In [16]:
strava_daily['month_name'] = strava_daily['date'].dt.month_name()

In [23]:
unique_months = strava_daily['month'].unique()

print("Unique months:", unique_months)

Unique months: [ 6  4  5 11 12 10  3  2  1  8  9  7]

In [17]:
unique_dates_per_month = strava_daily.groupby('month_name')['date'].nunique().reset_index(name='unique_date_count')

print(unique_dates_per_month)

   month_name  unique_date_count
0       April                 30
1      August                 31
2    December                 31
3    February                 28
4     January                 31
5        July                 31
6        June                 30
7       March                 31
8         May                 31
9    November                 30
10    October                 31
11  September                 30

In [18]:
# Count each date grouped by month
date_counts_by_month = strava_daily.groupby(['month', 'date']).size().reset_index(name='count')

print(date_counts_by_month)

     month       date  count
0        1 2019-01-01  35613
1        1 2019-01-02  31046
2        1 2019-01-03  37026
3        1 2019-01-04  36886
4        1 2019-01-05   4810
..     ...        ...    ...
360     12 2019-12-27  33628
361     12 2019-12-28  45229
362     12 2019-12-29  22534
363     12 2019-12-30   5392
364     12 2019-12-31  30208

[365 rows x 3 columns]

Total daily values

In [19]:
# Group by month and date, summing total_trip_count
sum_by_month_and_date = strava_daily.groupby(['month', 'date'])['total_trip_count'].sum().reset_index(name='total_trip_sum')
sum_by_month_and_date['total_trip_sum'] = pd.to_numeric(sum_by_month_and_date['total_trip_sum'], errors='coerce').astype(float)
print(sum_by_month_and_date)

     month       date    total_trip_sum
0        1 2019-01-01 509690.0000000000
1        1 2019-01-02 352085.0000000000
2        1 2019-01-03 446055.0000000000
3        1 2019-01-04 439665.0000000000
4        1 2019-01-05  59735.0000000000
..     ...        ...               ...
360     12 2019-12-27 421235.0000000000
361     12 2019-12-28 659330.0000000000
362     12 2019-12-29 307935.0000000000
363     12 2019-12-30  38995.0000000000
364     12 2019-12-31 418330.0000000000

[365 rows x 3 columns]

Yearly data

In [91]:
# Define the main directory containing the zipped folders
annual_data_folder_path = r"C:\Users\dane.rini\Global Infrastructure\SSC 24-01-0670 NYC DOT ESA 21 TPM Project Metrics and Analysis Tool Development - 24-01-0670\02 - Analysis\Task 2\Strava\Volumes\Annual"

In [9]:
strava_annual = pd.DataFrame()
# file_name = '7e9dd5f14d05d063768f2051246b47f1b57556437f23ca89e7a1440a560d3a0a-1735662360133.csv' #2019
file_name = 'd2deee4f2cf1bcfba0fb259b0ac772271e503a01f4004d72ead0cac0a5971916-1737002821048.csv' #2021
file_path = os.path.join(annual_data_folder_path, file_name)
df_annual = pd.read_csv(file_path)
print(df_annual.head())

    edge_uid   activity_type  year  total_trip_count  forward_trip_count  \
0  457764957  Ride,EBikeRide  2021                55                  50
1  457525855  Ride,EBikeRide  2021               160                  30
2  457579281  Ride,EBikeRide  2021               885                 755
3  457167058  Ride,EBikeRide  2021               195                  20
4  457479677  Ride,EBikeRide  2021                65                  20

   reverse_trip_count  forward_people_count  reverse_people_count  \
0                   5                    30                     5
1                 130                    25                    80
2                 130                   265                    85
3                 175                    20                   135
4                  40                    20                    40

   forward_commute_trip_count  reverse_commute_trip_count  ...  \
0                          15                           0  ...
1                          10                          55  ...
2                         230                          40  ...
3                           0                          25  ...
4                           0                          10  ...

   reverse_35_54_people_count  forward_55_64_people_count  \
0                           0                           5
1                          30                           0
2                          30                          10
3                          55                           0
4                          20                           0

   reverse_55_64_people_count  forward_65_plus_people_count  \
0                           0                             0
1                           0                             0
2                           5                             5
3                          15                             0
4                           0                             0

   reverse_65_plus_people_count  forward_average_speed_meters_per_second  \
0                             0                             2.7800000000
1                             0                             1.2200000000
2                             0                             1.7900000000
3                             5                             1.7400000000
4                             0                             0.8200000000

   reverse_average_speed_meters_per_second  osm_reference_id  ride_count  \
0                             3.9000000000         810839396          55
1                             2.6000000000        1065988842         160
2                             3.5600000000         834669128         840
3                             1.0400000000        1153116985         195
4                             4.2100000000         890862722          65

   ebike_ride_count
0                 0
1                 0
2                45
3                 0
4                 0

[5 rows x 39 columns]

In [10]:
# Total yearly volume in network
yearly_volume = df_annual['total_trip_count'].sum()
yearly_volume = float(yearly_volume)
print(yearly_volume)

599420080.0

In [20]:
sum_by_month_and_date['yearly_total'] = sum_by_month_and_date['total_trip_sum'].sum()

In [21]:
sum_by_month_and_date['daily_vol_proportion'] = (
    (sum_by_month_and_date['total_trip_sum'].astype(float)) / 
    (sum_by_month_and_date['yearly_total'].astype(float)) * 1.0
)
print(sum_by_month_and_date.head())

   month       date    total_trip_sum         yearly_total  \
0      1 2019-01-01 509690.0000000000 302959200.0000000000
1      1 2019-01-02 352085.0000000000 302959200.0000000000
2      1 2019-01-03 446055.0000000000 302959200.0000000000
3      1 2019-01-04 439665.0000000000 302959200.0000000000
4      1 2019-01-05  59735.0000000000 302959200.0000000000

   daily_vol_proportion
0          0.0016823718
1          0.0011621532
2          0.0014723270
3          0.0014512350
4          0.0001971718

In [22]:
print(sum_by_month_and_date[['total_trip_sum', 'yearly_total']].head())

     total_trip_sum         yearly_total
0 509690.0000000000 302959200.0000000000
1 352085.0000000000 302959200.0000000000
2 446055.0000000000 302959200.0000000000
3 439665.0000000000 302959200.0000000000
4  59735.0000000000 302959200.0000000000

In [23]:
print(sum_by_month_and_date['total_trip_sum'].describe())

count       365.0000000000
mean     830025.2054794520
std      571875.7963704527
min       19240.0000000000
25%      367530.0000000000
50%      726705.0000000000
75%     1245625.0000000000
max     4040985.0000000000
Name: total_trip_sum, dtype: float64

In [24]:
daily_volume_proportions = sum_by_month_and_date[['month','date','total_trip_sum','yearly_total','daily_vol_proportion']]
print(daily_volume_proportions.head())

   month       date    total_trip_sum         yearly_total  \
0      1 2019-01-01 509690.0000000000 302959200.0000000000
1      1 2019-01-02 352085.0000000000 302959200.0000000000
2      1 2019-01-03 446055.0000000000 302959200.0000000000
3      1 2019-01-04 439665.0000000000 302959200.0000000000
4      1 2019-01-05  59735.0000000000 302959200.0000000000

   daily_vol_proportion
0          0.0016823718
1          0.0011621532
2          0.0014723270
3          0.0014512350
4          0.0001971718

In [33]:
daily_volume_proportions.to_csv('daily_volume_proportions.csv')

In [25]:
print(daily_volume_proportions['total_trip_sum'].mean())
print(daily_volume_proportions['total_trip_sum'].sum())

830025.205479452
302959200.0

Hourly Data

In [26]:
# Define the main directory containing the zipped folders
hourly_data_folder_path = r"C:\Users\dane.rini\Global Infrastructure\SSC 24-01-0670 NYC DOT ESA 21 TPM Project Metrics and Analysis Tool Development - 24-01-0670\02 - Analysis\Task 2\Strava\Volumes\Hourly\2019"

In [27]:
strava_hourly = pd.DataFrame()
file_name = 'strava_hourly.csv'
file_path = os.path.join(hourly_data_folder_path, file_name)
df_hourly = pd.read_csv(file_path)
print(df_hourly.head())

    edge_uid   activity_type           hour  total_trip_count  \
0  457515725  Ride,EBikeRide  2019-01-03T19                 5
1  458719392  Ride,EBikeRide  2019-01-23T18                15
2  457307639  Ride,EBikeRide  2019-01-01T15                 5
3  458730576  Ride,EBikeRide  2019-01-18T19                 5
4  458730576  Ride,EBikeRide  2019-01-07T18                20

   forward_trip_count  reverse_trip_count  forward_people_count  \
0                   5                   0                     5
1                  15                   0                    15
2                   5                   0                     5
3                   5                   0                     5
4                  20                   0                    15

   reverse_people_count  forward_commute_trip_count  \
0                     0                           0
1                     0                          15
2                     0                           0
3                     0                           0
4                     0                           5

   reverse_commute_trip_count  ...  reverse_35_54_people_count  \
0                           0  ...                           0
1                           0  ...                           0
2                           0  ...                           0
3                           0  ...                           0
4                           0  ...                           0

   forward_55_64_people_count  reverse_55_64_people_count  \
0                           0                           0
1                           0                           0
2                           0                           0
3                           0                           0
4                           0                           0

   forward_65_plus_people_count  reverse_65_plus_people_count  \
0                             0                             0
1                             0                             0
2                             0                             0
3                             0                             0
4                             0                             0

   forward_average_speed_meters_per_second  \
0                             5.2800000000
1                             6.8400000000
2                             3.7300000000
3                             7.7000000000
4                             7.3700000000

   reverse_average_speed_meters_per_second  osm_reference_id  ride_count  \
0                             0.0000000000         814334330           5
1                             0.0000000000         701986434          15
2                             0.0000000000         893841756           5
3                             0.0000000000        1081021548           5
4                             0.0000000000        1081021548          20

   ebike_ride_count
0                 0
1                 0
2                 0
3                 0
4                 0

[5 rows x 31 columns]

In [28]:
df_hourly['hour_number'] = df_hourly['hour'].str[-2:]
print(df_hourly[['hour', 'hour_number']].head())

            hour hour_number
0  2019-01-03T19          19
1  2019-01-23T18          18
2  2019-01-01T15          15
3  2019-01-18T19          19
4  2019-01-07T18          18

In [29]:
hourly_rows = df_hourly.groupby('hour_number')['total_trip_count'].sum().reset_index(name='total_trip_sum')
print(hourly_rows)

   hour_number  total_trip_sum
0           00           96870
1           01           22120
2           02            8950
3           03            7000
4           04          141570
5           05         3442485
6           06        14837235
7           07        18250695
8           08        21281795
9           09        18351180
10          10        13110710
11          11        11571705
12          12        10609155
13          13         9096205
14          14         8413580
15          15         7987360
16          16         8380280
17          17        12090945
18          18        13923665
19          19         8760135
20          20         3958175
21          21         1568920
22          22          683130
23          23          298335

In [30]:
# Total yearly volume in network
yearly_volume_hourly = df_hourly['total_trip_count'].sum()
yearly_volume_hourly = float(yearly_volume_hourly)
print(yearly_volume_hourly)

186892200.0

In [31]:
hourly_rows['hour_proportion'] = hourly_rows['total_trip_sum'] / yearly_volume_hourly * 1.0
print(hourly_rows)

   hour_number  total_trip_sum  hour_proportion
0           00           96870     0.0005183202
1           01           22120     0.0001183570
2           02            8950     0.0000478886
3           03            7000     0.0000374547
4           04          141570     0.0007574955
5           05         3442485     0.0184196291
6           06        14837235     0.0793892683
7           07        18250695     0.0976535939
8           08        21281795     0.1138720343
9           09        18351180     0.0981912568
10          10        13110710     0.0701511888
11          11        11571705     0.0619164684
12          12        10609155     0.0567661732
13          13         9096205     0.0486708648
14          14         8413580     0.0450183582
15          15         7987360     0.0427377922
16          16         8380280     0.0448401806
17          17        12090945     0.0646947545
18          18        13923665     0.0745010493
19          19         8760135     0.0468726624
20          20         3958175     0.0211789203
21          21         1568920     0.0083947859
22          22          683130     0.0036552087
23          23          298335     0.0015962945

In [32]:
hourly_volume_proportions = hourly_rows

Segment level analysis
    - Apply hourly proportions to yearly volume at segment level
    - Apply daily proportions to yearly volume at segment level

Combining hourly and daily proportions

In [33]:
print(hourly_volume_proportions)

   hour_number  total_trip_sum  hour_proportion
0           00           96870     0.0005183202
1           01           22120     0.0001183570
2           02            8950     0.0000478886
3           03            7000     0.0000374547
4           04          141570     0.0007574955
5           05         3442485     0.0184196291
6           06        14837235     0.0793892683
7           07        18250695     0.0976535939
8           08        21281795     0.1138720343
9           09        18351180     0.0981912568
10          10        13110710     0.0701511888
11          11        11571705     0.0619164684
12          12        10609155     0.0567661732
13          13         9096205     0.0486708648
14          14         8413580     0.0450183582
15          15         7987360     0.0427377922
16          16         8380280     0.0448401806
17          17        12090945     0.0646947545
18          18        13923665     0.0745010493
19          19         8760135     0.0468726624
20          20         3958175     0.0211789203
21          21         1568920     0.0083947859
22          22          683130     0.0036552087
23          23          298335     0.0015962945

In [34]:
print(daily_volume_proportions.head())

   month       date    total_trip_sum         yearly_total  \
0      1 2019-01-01 509690.0000000000 302959200.0000000000
1      1 2019-01-02 352085.0000000000 302959200.0000000000
2      1 2019-01-03 446055.0000000000 302959200.0000000000
3      1 2019-01-04 439665.0000000000 302959200.0000000000
4      1 2019-01-05  59735.0000000000 302959200.0000000000

   daily_vol_proportion
0          0.0016823718
1          0.0011621532
2          0.0014723270
3          0.0014512350
4          0.0001971718

Joining the two volume proportion tables

In [35]:
day_hour_proportions = pd.merge(daily_volume_proportions, hourly_volume_proportions, how='cross')
print(day_hour_proportions.head(20))

    month       date  total_trip_sum_x         yearly_total  \
0       1 2019-01-01 509690.0000000000 302959200.0000000000
1       1 2019-01-01 509690.0000000000 302959200.0000000000
2       1 2019-01-01 509690.0000000000 302959200.0000000000
3       1 2019-01-01 509690.0000000000 302959200.0000000000
4       1 2019-01-01 509690.0000000000 302959200.0000000000
5       1 2019-01-01 509690.0000000000 302959200.0000000000
6       1 2019-01-01 509690.0000000000 302959200.0000000000
7       1 2019-01-01 509690.0000000000 302959200.0000000000
8       1 2019-01-01 509690.0000000000 302959200.0000000000
9       1 2019-01-01 509690.0000000000 302959200.0000000000
10      1 2019-01-01 509690.0000000000 302959200.0000000000
11      1 2019-01-01 509690.0000000000 302959200.0000000000
12      1 2019-01-01 509690.0000000000 302959200.0000000000
13      1 2019-01-01 509690.0000000000 302959200.0000000000
14      1 2019-01-01 509690.0000000000 302959200.0000000000
15      1 2019-01-01 509690.0000000000 302959200.0000000000
16      1 2019-01-01 509690.0000000000 302959200.0000000000
17      1 2019-01-01 509690.0000000000 302959200.0000000000
18      1 2019-01-01 509690.0000000000 302959200.0000000000
19      1 2019-01-01 509690.0000000000 302959200.0000000000

    daily_vol_proportion hour_number  total_trip_sum_y  hour_proportion
0           0.0016823718          00             96870     0.0005183202
1           0.0016823718          01             22120     0.0001183570
2           0.0016823718          02              8950     0.0000478886
3           0.0016823718          03              7000     0.0000374547
4           0.0016823718          04            141570     0.0007574955
5           0.0016823718          05           3442485     0.0184196291
6           0.0016823718          06          14837235     0.0793892683
7           0.0016823718          07          18250695     0.0976535939
8           0.0016823718          08          21281795     0.1138720343
9           0.0016823718          09          18351180     0.0981912568
10          0.0016823718          10          13110710     0.0701511888
11          0.0016823718          11          11571705     0.0619164684
12          0.0016823718          12          10609155     0.0567661732
13          0.0016823718          13           9096205     0.0486708648
14          0.0016823718          14           8413580     0.0450183582
15          0.0016823718          15           7987360     0.0427377922
16          0.0016823718          16           8380280     0.0448401806
17          0.0016823718          17          12090945     0.0646947545
18          0.0016823718          18          13923665     0.0745010493
19          0.0016823718          19           8760135     0.0468726624

In [36]:
day_hour_proportions["day_hour_vol_proportion"] = day_hour_proportions["hour_proportion"] * day_hour_proportions["daily_vol_proportion"]
print(day_hour_proportions.head(20))

    month       date  total_trip_sum_x         yearly_total  \
0       1 2019-01-01 509690.0000000000 302959200.0000000000
1       1 2019-01-01 509690.0000000000 302959200.0000000000
2       1 2019-01-01 509690.0000000000 302959200.0000000000
3       1 2019-01-01 509690.0000000000 302959200.0000000000
4       1 2019-01-01 509690.0000000000 302959200.0000000000
5       1 2019-01-01 509690.0000000000 302959200.0000000000
6       1 2019-01-01 509690.0000000000 302959200.0000000000
7       1 2019-01-01 509690.0000000000 302959200.0000000000
8       1 2019-01-01 509690.0000000000 302959200.0000000000
9       1 2019-01-01 509690.0000000000 302959200.0000000000
10      1 2019-01-01 509690.0000000000 302959200.0000000000
11      1 2019-01-01 509690.0000000000 302959200.0000000000
12      1 2019-01-01 509690.0000000000 302959200.0000000000
13      1 2019-01-01 509690.0000000000 302959200.0000000000
14      1 2019-01-01 509690.0000000000 302959200.0000000000
15      1 2019-01-01 509690.0000000000 302959200.0000000000
16      1 2019-01-01 509690.0000000000 302959200.0000000000
17      1 2019-01-01 509690.0000000000 302959200.0000000000
18      1 2019-01-01 509690.0000000000 302959200.0000000000
19      1 2019-01-01 509690.0000000000 302959200.0000000000

    daily_vol_proportion hour_number  total_trip_sum_y  hour_proportion  \
0           0.0016823718          00             96870     0.0005183202
1           0.0016823718          01             22120     0.0001183570
2           0.0016823718          02              8950     0.0000478886
3           0.0016823718          03              7000     0.0000374547
4           0.0016823718          04            141570     0.0007574955
5           0.0016823718          05           3442485     0.0184196291
6           0.0016823718          06          14837235     0.0793892683
7           0.0016823718          07          18250695     0.0976535939
8           0.0016823718          08          21281795     0.1138720343
9           0.0016823718          09          18351180     0.0981912568
10          0.0016823718          10          13110710     0.0701511888
11          0.0016823718          11          11571705     0.0619164684
12          0.0016823718          12          10609155     0.0567661732
13          0.0016823718          13           9096205     0.0486708648
14          0.0016823718          14           8413580     0.0450183582
15          0.0016823718          15           7987360     0.0427377922
16          0.0016823718          16           8380280     0.0448401806
17          0.0016823718          17          12090945     0.0646947545
18          0.0016823718          18          13923665     0.0745010493
19          0.0016823718          19           8760135     0.0468726624

    day_hour_vol_proportion
0              0.0000008720
1              0.0000001991
2              0.0000000806
3              0.0000000630
4              0.0000012744
5              0.0000309887
6              0.0001335623
7              0.0001642896
8              0.0001915751
9              0.0001651942
10             0.0001180204
11             0.0001041665
12             0.0000955018
13             0.0000818825
14             0.0000757376
15             0.0000719009
16             0.0000754379
17             0.0001088406
18             0.0001253385
19             0.0000788572

In [37]:
day_hour_proportions.rename(columns={'total_trip_sum_x':'daily_trip_sum'}, inplace=True)

In [38]:
day_hour_proportions.rename(columns={'hour_proportion':'hourly_vol_proportion'}, inplace=True)

In [39]:
day_hour_proportions.rename(columns={'total_trip_sum_y':'hourly_trip_sum'}, inplace=True)

In [40]:
day_hour_proportions = day_hour_proportions[['date','month','hour_number','daily_trip_sum','hourly_trip_sum','yearly_total','daily_vol_proportion','hourly_vol_proportion','day_hour_vol_proportion']]
print(day_hour_proportions.head())

        date  month hour_number    daily_trip_sum  hourly_trip_sum  \
0 2019-01-01      1          00 509690.0000000000            96870
1 2019-01-01      1          01 509690.0000000000            22120
2 2019-01-01      1          02 509690.0000000000             8950
3 2019-01-01      1          03 509690.0000000000             7000
4 2019-01-01      1          04 509690.0000000000           141570

          yearly_total  daily_vol_proportion  hourly_vol_proportion  \
0 302959200.0000000000          0.0016823718           0.0005183202
1 302959200.0000000000          0.0016823718           0.0001183570
2 302959200.0000000000          0.0016823718           0.0000478886
3 302959200.0000000000          0.0016823718           0.0000374547
4 302959200.0000000000          0.0016823718           0.0007574955

   day_hour_vol_proportion
0             0.0000008720
1             0.0000001991
2             0.0000000806
3             0.0000000630
4             0.0000012744

In [41]:
print(day_hour_proportions.columns)

Index(['date', 'month', 'hour_number', 'daily_trip_sum', 'hourly_trip_sum',
       'yearly_total', 'daily_vol_proportion', 'hourly_vol_proportion',
       'day_hour_vol_proportion'],
      dtype='object')

In [42]:
day_hour_proportions.columns = [
    "date",
    "month",
    "hour_number",
    "daily_trip_sum",
    "hourly_trip_sum",
    "yearly_total",
    "daily_vol_proportion",
    "hourly_vol_proportion_1",  # Renamed duplicate
    "hourly_vol_proportion_2",  # Renamed duplicate
    "day_hour_vol_proportion"
]
print(day_hour_proportions.head())

ValueError: Length mismatch: Expected axis has 9 elements, new values have 10 elements

In [43]:
day_hour_proportions.rename(columns={'hourly_vol_proportion_1':'hourly_vol_proportion'}, inplace=True)

In [44]:
day_hour_proportions_with_totals = day_hour_proportions[['date','month','hour_number','daily_trip_sum','hourly_trip_sum','yearly_total','daily_vol_proportion','hourly_vol_proportion','day_hour_vol_proportion']]

In [45]:
day_hour_proportions = day_hour_proportions_with_totals[['date','month','hour_number','day_hour_vol_proportion']]

Yearly segment totals

In [46]:
# Define the main directory containing the zipped folders
annual_data_folder_path = r"C:\Users\dane.rini\Global Infrastructure\SSC 24-01-0670 NYC DOT ESA 21 TPM Project Metrics and Analysis Tool Development - 24-01-0670\02 - Analysis\Task 2\Strava\Volumes\Annual"

2019 yearly volume

In [5]:
strava_annual = pd.DataFrame()
file_name = '7e9dd5f14d05d063768f2051246b47f1b57556437f23ca89e7a1440a560d3a0a-1735662360133.csv'
file_path = os.path.join(annual_data_folder_path, file_name)
df_annual = pd.read_csv(file_path)
print(df_annual.columns)

Index(['edge_uid', 'activity_type', 'year', 'total_trip_count',
       'forward_trip_count', 'reverse_trip_count', 'forward_people_count',
       'reverse_people_count', 'forward_commute_trip_count',
       'reverse_commute_trip_count', 'forward_leisure_trip_count',
       'reverse_leisure_trip_count', 'forward_morning_trip_count',
       'reverse_morning_trip_count', 'forward_midday_trip_count',
       'reverse_midday_trip_count', 'forward_evening_trip_count',
       'reverse_evening_trip_count', 'forward_overnight_trip_count',
       'reverse_overnight_trip_count', 'forward_male_people_count',
       'reverse_male_people_count', 'forward_female_people_count',
       'reverse_female_people_count', 'forward_unspecified_people_count',
       'reverse_unspecified_people_count', 'forward_18_34_people_count',
       'reverse_18_34_people_count', 'forward_35_54_people_count',
       'reverse_35_54_people_count', 'forward_55_64_people_count',
       'reverse_55_64_people_count', 'forward_65_plus_people_count',
       'reverse_65_plus_people_count',
       'forward_average_speed_meters_per_second',
       'reverse_average_speed_meters_per_second', 'osm_reference_id',
       'ride_count', 'ebike_ride_count'],
      dtype='object')

2021 volumes

In [47]:
strava_annual = pd.DataFrame()
file_name = 'd2deee4f2cf1bcfba0fb259b0ac772271e503a01f4004d72ead0cac0a5971916-1737002821048.csv'
file_path = os.path.join(annual_data_folder_path, file_name)
df_annual = pd.read_csv(file_path)
print(df_annual.columns)

Index(['edge_uid', 'activity_type', 'year', 'total_trip_count',
       'forward_trip_count', 'reverse_trip_count', 'forward_people_count',
       'reverse_people_count', 'forward_commute_trip_count',
       'reverse_commute_trip_count', 'forward_leisure_trip_count',
       'reverse_leisure_trip_count', 'forward_morning_trip_count',
       'reverse_morning_trip_count', 'forward_midday_trip_count',
       'reverse_midday_trip_count', 'forward_evening_trip_count',
       'reverse_evening_trip_count', 'forward_overnight_trip_count',
       'reverse_overnight_trip_count', 'forward_male_people_count',
       'reverse_male_people_count', 'forward_female_people_count',
       'reverse_female_people_count', 'forward_unspecified_people_count',
       'reverse_unspecified_people_count', 'forward_18_34_people_count',
       'reverse_18_34_people_count', 'forward_35_54_people_count',
       'reverse_35_54_people_count', 'forward_55_64_people_count',
       'reverse_55_64_people_count', 'forward_65_plus_people_count',
       'reverse_65_plus_people_count',
       'forward_average_speed_meters_per_second',
       'reverse_average_speed_meters_per_second', 'osm_reference_id',
       'ride_count', 'ebike_ride_count'],
      dtype='object')

In [48]:
yearly_segment_volume = df_annual.groupby('osm_reference_id')['total_trip_count'].sum().reset_index(name='yearly_segment_volume')
print(yearly_segment_volume)

        osm_reference_id  yearly_segment_volume
0                5029221                  14775
1                5668966                   5625
2                5668968                   7825
3                5668973                   1420
4                5668977                  11105
...                  ...                    ...
225868        1239748384                    180
225869        1239748385                     40
225870        1239748386                      5
225871        1239760864                    565
225872        1239760865                    565

[225873 rows x 2 columns]

Joining the yearly segment volumes with the day-hour proportions

In [49]:
day_hour_proportions['key'] = 1
yearly_segment_volume['key'] = 1

C:\Users\dane.rini\AppData\Local\Temp\ipykernel_34748\2545126519.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  day_hour_proportions['key'] = 1

In [60]:
merged_volume_prop = pd.merge(day_hour_proportions, yearly_segment_volume, on="key").drop("key", axis=1)

MemoryError: Unable to allocate 6.63 GiB for an array with shape (1, 1780347360) and data type int32

Too many segments to do this - maybe if I filter on my study segments this won't be a problem

In [50]:
# Define the main directory containing the zipped folders
osm_study_segments_path = r"C:\Users\dane.rini\Global Infrastructure\SSC 24-01-0670 NYC DOT ESA 21 TPM Project Metrics and Analysis Tool Development - 24-01-0670\02 - Analysis\Task 2\Data Comparisons\Volumes\Bicycle"

In [51]:
strava_annual = pd.DataFrame()
file_name = 'study_osm_segments.csv'
file_path = os.path.join(osm_study_segments_path, file_name)
df_study_segments = pd.read_csv(file_path)
print(df_study_segments.columns)

Index(['segment_id', 'osmid', 'streetname'], dtype='object')

In [52]:
df_study_segments.rename(columns={'osmid': 'osm_reference_id'}, inplace = True)
print(df_study_segments.columns)

Index(['segment_id', 'osm_reference_id', 'streetname'], dtype='object')

Inner join between yearly volume with study segments

In [53]:
print(yearly_segment_volume.columns)

Index(['osm_reference_id', 'yearly_segment_volume', 'key'], dtype='object')

In [54]:
yearly_segment_volume_filtered = pd.merge(df_study_segments, yearly_segment_volume, how = 'inner', on = 'osm_reference_id')
print(yearly_segment_volume.size)
print(yearly_segment_volume_filtered['osm_reference_id'].nunique())
print(df_study_segments['osm_reference_id'].nunique())

677619
623
663

In [55]:
print(yearly_segment_volume_filtered.head())

   segment_id  osm_reference_id         streetname  yearly_segment_volume  key
0      127142         308330264  Bay Ridge Parkway                   4385    1
1       79599           5698375  East 182nd Street                    155    1
2      165482         198595461   East 61st Street                 190525    1
3       17638         440696449        68th Street                   5210    1
4       81630         724416614        55th Avenue                  13645    1

In [57]:
merged_volume_prop = pd.merge(day_hour_proportions, yearly_segment_volume_filtered, on="key").drop("key", axis=1).sort_values(by=['osm_reference_id', 'date', 'hour_number'])

In [58]:
print(merged_volume_prop.columns)

Index(['date', 'month', 'hour_number', 'day_hour_vol_proportion', 'segment_id',
       'osm_reference_id', 'streetname', 'yearly_segment_volume'],
      dtype='object')

In [59]:
merged_volume_prop['projected_hourly_segment_volume'] = merged_volume_prop['yearly_segment_volume'] * merged_volume_prop['day_hour_vol_proportion']

print(merged_volume_prop.head(50))

            date  month hour_number  day_hour_vol_proportion  segment_id  \
333   2019-01-01      1          00             0.0000008720       33894
998   2019-01-01      1          01             0.0000001991       33894
1663  2019-01-01      1          02             0.0000000806       33894
2328  2019-01-01      1          03             0.0000000630       33894
2993  2019-01-01      1          04             0.0000012744       33894
3658  2019-01-01      1          05             0.0000309887       33894
4323  2019-01-01      1          06             0.0001335623       33894
4988  2019-01-01      1          07             0.0001642896       33894
5653  2019-01-01      1          08             0.0001915751       33894
6318  2019-01-01      1          09             0.0001651942       33894
6983  2019-01-01      1          10             0.0001180204       33894
7648  2019-01-01      1          11             0.0001041665       33894
8313  2019-01-01      1          12             0.0000955018       33894
8978  2019-01-01      1          13             0.0000818825       33894
9643  2019-01-01      1          14             0.0000757376       33894
10308 2019-01-01      1          15             0.0000719009       33894
10973 2019-01-01      1          16             0.0000754379       33894
11638 2019-01-01      1          17             0.0001088406       33894
12303 2019-01-01      1          18             0.0001253385       33894
12968 2019-01-01      1          19             0.0000788572       33894
13633 2019-01-01      1          20             0.0000356308       33894
14298 2019-01-01      1          21             0.0000141232       33894
14963 2019-01-01      1          22             0.0000061494       33894
15628 2019-01-01      1          23             0.0000026856       33894
16293 2019-01-02      1          00             0.0000006024       33894
16958 2019-01-02      1          01             0.0000001375       33894
17623 2019-01-02      1          02             0.0000000557       33894
18288 2019-01-02      1          03             0.0000000435       33894
18953 2019-01-02      1          04             0.0000008803       33894
19618 2019-01-02      1          05             0.0000214064       33894
20283 2019-01-02      1          06             0.0000922625       33894
20948 2019-01-02      1          07             0.0001134884       33894
21613 2019-01-02      1          08             0.0001323367       33894
22278 2019-01-02      1          09             0.0001141133       33894
22943 2019-01-02      1          10             0.0000815264       33894
23608 2019-01-02      1          11             0.0000719564       33894
24273 2019-01-02      1          12             0.0000659710       33894
24938 2019-01-02      1          13             0.0000565630       33894
25603 2019-01-02      1          14             0.0000523182       33894
26268 2019-01-02      1          15             0.0000496679       33894
26933 2019-01-02      1          16             0.0000521112       33894
27598 2019-01-02      1          17             0.0000751852       33894
28263 2019-01-02      1          18             0.0000865816       33894
28928 2019-01-02      1          19             0.0000544732       33894
29593 2019-01-02      1          20             0.0000246131       33894
30258 2019-01-02      1          21             0.0000097560       33894
30923 2019-01-02      1          22             0.0000042479       33894
31588 2019-01-02      1          23             0.0000018551       33894
32253 2019-01-03      1          00             0.0000007631       33894
32918 2019-01-03      1          01             0.0000001743       33894

       osm_reference_id        streetname  yearly_segment_volume  \
333             5669669  West 29th Street                  13770
998             5669669  West 29th Street                  13770
1663            5669669  West 29th Street                  13770
2328            5669669  West 29th Street                  13770
2993            5669669  West 29th Street                  13770
3658            5669669  West 29th Street                  13770
4323            5669669  West 29th Street                  13770
4988            5669669  West 29th Street                  13770
5653            5669669  West 29th Street                  13770
6318            5669669  West 29th Street                  13770
6983            5669669  West 29th Street                  13770
7648            5669669  West 29th Street                  13770
8313            5669669  West 29th Street                  13770
8978            5669669  West 29th Street                  13770
9643            5669669  West 29th Street                  13770
10308           5669669  West 29th Street                  13770
10973           5669669  West 29th Street                  13770
11638           5669669  West 29th Street                  13770
12303           5669669  West 29th Street                  13770
12968           5669669  West 29th Street                  13770
13633           5669669  West 29th Street                  13770
14298           5669669  West 29th Street                  13770
14963           5669669  West 29th Street                  13770
15628           5669669  West 29th Street                  13770
16293           5669669  West 29th Street                  13770
16958           5669669  West 29th Street                  13770
17623           5669669  West 29th Street                  13770
18288           5669669  West 29th Street                  13770
18953           5669669  West 29th Street                  13770
19618           5669669  West 29th Street                  13770
20283           5669669  West 29th Street                  13770
20948           5669669  West 29th Street                  13770
21613           5669669  West 29th Street                  13770
22278           5669669  West 29th Street                  13770
22943           5669669  West 29th Street                  13770
23608           5669669  West 29th Street                  13770
24273           5669669  West 29th Street                  13770
24938           5669669  West 29th Street                  13770
25603           5669669  West 29th Street                  13770
26268           5669669  West 29th Street                  13770
26933           5669669  West 29th Street                  13770
27598           5669669  West 29th Street                  13770
28263           5669669  West 29th Street                  13770
28928           5669669  West 29th Street                  13770
29593           5669669  West 29th Street                  13770
30258           5669669  West 29th Street                  13770
30923           5669669  West 29th Street                  13770
31588           5669669  West 29th Street                  13770
32253           5669669  West 29th Street                  13770
32918           5669669  West 29th Street                  13770

       projected_hourly_segment_volume
333                       0.0120075397
998                       0.0027418889
1663                      0.0011093990
2328                      0.0008676864
2993                      0.0175483369
3658                      0.4267138981
4323                      1.8391523518
4988                      2.2622684504
5653                      2.6379890408
6318                      2.2747240881
6983                      1.6251406094
7648                      1.4343729452
8313                      1.3150598726
8978                      1.1275218609
9643                      1.0429069462
10308                     0.9900747632
10973                     1.0387792382
11638                     1.4987354404
12303                     1.7259106047
12968                     1.0858642387
13633                     0.4906363524
14298                     0.1944757839
14963                     0.0846775121
15628                     0.0369801730
16293                     0.0082945999
16958                     0.0018940492
17623                     0.0007663536
18288                     0.0005993827
18953                     0.0121220864
19618                     0.2947665499
20283                     1.2704545033
20948                     1.5627357558
21613                     1.8222770143
22278                     1.5713398940
22943                     1.1226189085
23608                     0.9908399192
24273                     0.9084205208
24938                     0.7788725194
25603                     0.7204220058
26268                     0.6839264514
26933                     0.7175706569
27598                     1.0353004131
28263                     1.1922290711
28928                     0.7500961574
29593                     0.3389230712
30258                     0.1343404940
30923                     0.0584937547
31588                     0.0255452612
32253                     0.0105083936
32918                     0.0023995630

In [60]:
merged_volume_prop['date'] = pd.to_datetime(merged_volume_prop['date'])

In [61]:
merged_volume_prop['quarter'] = merged_volume_prop['date'].dt.quarter

In [62]:
merged_volume_prop['day_of_week'] = merged_volume_prop['date'].dt.day_name()

In [63]:
merged_volume_prop['weekday_number'] = merged_volume_prop['date'].dt.weekday

In [64]:
# Add the 'day_type' column based on the day of the week
merged_volume_prop['day_type'] = merged_volume_prop['date'].dt.weekday.apply(lambda x: 2 if x >= 5 else 1)

# Mapping to "Weekend (Sa-Su)" and "Monday-Friday (M-F)"
merged_volume_prop['day_type'] = merged_volume_prop['day_type'].map({1: "Monday-Friday (M-F)", 2: "Weekend (Sa-Su)"})

In [65]:
print(merged_volume_prop.head())

           date  month hour_number  day_hour_vol_proportion  segment_id  \
333  2019-01-01      1          00             0.0000008720       33894
998  2019-01-01      1          01             0.0000001991       33894
1663 2019-01-01      1          02             0.0000000806       33894
2328 2019-01-01      1          03             0.0000000630       33894
2993 2019-01-01      1          04             0.0000012744       33894

      osm_reference_id        streetname  yearly_segment_volume  \
333            5669669  West 29th Street                  13770
998            5669669  West 29th Street                  13770
1663           5669669  West 29th Street                  13770
2328           5669669  West 29th Street                  13770
2993           5669669  West 29th Street                  13770

      projected_hourly_segment_volume  quarter day_of_week  weekday_number  \
333                      0.0120075397        1     Tuesday               1
998                      0.0027418889        1     Tuesday               1
1663                     0.0011093990        1     Tuesday               1
2328                     0.0008676864        1     Tuesday               1
2993                     0.0175483369        1     Tuesday               1

                 day_type
333   Monday-Friday (M-F)
998   Monday-Friday (M-F)
1663  Monday-Friday (M-F)
2328  Monday-Friday (M-F)
2993  Monday-Friday (M-F)

In [66]:
result = merged_volume_prop.groupby(['segment_id', 'osm_reference_id', 'streetname', 'quarter', 
                                    'day_type', 'hour_number'], as_index=False).agg(
    avg_projected_hourly_segment_volume=('projected_hourly_segment_volume', 'mean')
)

# Order by the specified columns
result = result.sort_values(by=['segment_id', 'osm_reference_id', 'streetname', 'quarter', 
                                'day_type', 'hour_number'])

# Display the result
print(result)

        segment_id  osm_reference_id        streetname  quarter  \
0              735         733808557   Hylan Boulevard        1
1              735         733808557   Hylan Boulevard        1
2              735         733808557   Hylan Boulevard        1
3              735         733808557   Hylan Boulevard        1
4              735         733808557   Hylan Boulevard        1
...            ...               ...               ...      ...
123835     9017040          25734611  Queens Boulevard        4
123836     9017040          25734611  Queens Boulevard        4
123837     9017040          25734611  Queens Boulevard        4
123838     9017040          25734611  Queens Boulevard        4
123839     9017040          25734611  Queens Boulevard        4

                   day_type hour_number  avg_projected_hourly_segment_volume
0       Monday-Friday (M-F)          00                         0.0067332827
1       Monday-Friday (M-F)          01                         0.0015375267
2       Monday-Friday (M-F)          02                         0.0006221005
3       Monday-Friday (M-F)          03                         0.0004865591
4       Monday-Friday (M-F)          04                         0.0098403100
...                     ...         ...                                  ...
123835      Weekend (Sa-Su)          19                         0.4676658602
123836      Weekend (Sa-Su)          20                         0.2113099075
123837      Weekend (Sa-Su)          21                         0.0837578783
123838      Weekend (Sa-Su)          22                         0.0364693671
123839      Weekend (Sa-Su)          23                         0.0159268201

[123840 rows x 7 columns]

In [67]:
result['hour_number'] = pd.to_numeric(result['hour_number'], errors='coerce')
filtered_data = result[result['hour_number'].between(7, 19)]

# Group by the necessary columns and sum the values
summed_data = filtered_data.groupby(
    ['segment_id', 'osm_reference_id', 'streetname', 'quarter', 'day_type']
)['avg_projected_hourly_segment_volume'].sum().reset_index()

# Optional: Sort the results if needed
summed_data = summed_data.sort_values(
    ['segment_id', 'osm_reference_id', 'streetname', 'quarter', 'day_type']
)

print(summed_data)

      segment_id  osm_reference_id        streetname  quarter  \
0            735         733808557   Hylan Boulevard        1
1            735         733808557   Hylan Boulevard        1
2            735         733808557   Hylan Boulevard        2
3            735         733808557   Hylan Boulevard        2
4            735         733808557   Hylan Boulevard        3
...          ...               ...               ...      ...
5155     9017040          25734611  Queens Boulevard        2
5156     9017040          25734611  Queens Boulevard        3
5157     9017040          25734611  Queens Boulevard        3
5158     9017040          25734611  Queens Boulevard        4
5159     9017040          25734611  Queens Boulevard        4

                 day_type  avg_projected_hourly_segment_volume
0     Monday-Friday (M-F)                        11.2483709549
1         Weekend (Sa-Su)                        17.0395960109
2     Monday-Friday (M-F)                        31.5041393275
3         Weekend (Sa-Su)                        53.6827760880
4     Monday-Friday (M-F)                        37.7899228674
...                   ...                                  ...
5155      Weekend (Sa-Su)                        21.4593983596
5156  Monday-Friday (M-F)                        15.1063165485
5157      Weekend (Sa-Su)                        21.8851265577
5158  Monday-Friday (M-F)                         6.5649002087
5159      Weekend (Sa-Su)                         8.6392681055

[5160 rows x 6 columns]

In [68]:
summed_data.to_csv('strava_segment_volume_projections.csv')